.cl-1{
    opacity: 50% !important;
}
.cl-1:hover{
    color: rgb(0, 0, 0) !important;
  opacity: 150% !important;
}
.cl-2{
    opacity: 50% !important;
}
.cl-2:hover{
    color: rgb(0, 0, 0) !important;
  opacity: 150% !important;
}
.cl-3{
    opacity: 50% !important;
}
.cl-3:hover{
    color: rgb(0, 0, 0) !important;
  opacity: 150% !important;
}.cl-4{
    opacity: 50% !important;
}
.cl-4:hover{
    color: rgb(0, 0, 0) !important;
  opacity: 150% !important;
}
.cl-5{
    opacity: 70% !important;
}
.cl-5:hover{
    color: rgb(0, 0, 0) !important;
  opacity: 150% !important;
}